# Python | day 4 | for loop, functions (feat. basics & if/else)

### Ejercicio 0.1 - Conceptos básicos de Python

1. ¿Qué usamos para hacer un salto de línea en una impresión? ¿Y para un tabulador?

In [8]:
print("para salto \n de línea")

para salto
 de línea

In [9]:
print("para \t tabulación")

para 	 tabulación

2. Haz un conversor de dólares a euros. Tendrás que utilizar la entrada

In [10]:
dollar_euro = float(input("Introduzca montante"))*0.94

3. Declara dos cadenas, una será tu nombre y la otra tu apellido. Declara tu edad en otra variable. Imprime una sentencia que incluya esas variables, usando ```f{}``. ¿Qué es eso?

In [11]:
nombre = "camilo"
apellido = "prieto"

#Esto es un format
print(f"{nombre} {apellido}")

camilo prieto

4. Dada la lista `[4,7, -3]`, calcula su máximo, mínimo y suma.

In [12]:
min([4,7, -3])
max([4,7, -3])
sum([4,7, -3])

8

5. Redondea `38.38276252728` a 5 decimales.

In [14]:
round(38.38276252728, 5)

38.38276

6. Pon la frase "Born to be wild" en mayúsculas, luego en minúsculas, divídela por espacios y, por último, sustituye "wild" por "Geek".

In [15]:
print("Born to be Wild".upper())
print("Born to be wild".lower())
print("Born to be wild".split(" "))
print("Born to be wild".replace(" ", "wild"))
print("Born to be wild".replace(" ", "Geek"))

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Bornwildtowildbewildwild
BornGeektoGeekbeGeekwild

7. Crea un programa en el que se recojan dos entradas, y la salida del programa sea un booleano que indique al usuario si esas entradas son iguales o no.

In [16]:
input() == input()

True

### Ejercicio 0.2 - If/else

1. Crea un árbol de decisión utilizando sentencias if/else, para determinar el precio de la entrada al cine. Si la edad del cliente está entre 5 y 15 años, ambos incluidos, el precio será de 5, si es jubilado y la película es una de las `peliculas_descuento`, el precio será de 4. En cualquier otro caso, será de 7 euros.

Debes crear la lista de `peliculas_discount` con tus películas favoritas.

In [22]:
edad_espectador = int(input("Introduzca su edad"))
pelicula = input("¿Que película desea ver?")
peliculas_descuento = ["2001", "Atrapame si puedes", "The End Of Evangelion", "Bad Moms", "Freaky Friday"]

if edad_espectador >= 5 and edad_espectador <= 15:
    precio = 4
elif edad_espectador >= 65 and (pelicula in peliculas_descuento):
    precio = 5
else:
    precio = 7

print(precio)

5

### Ejercicio 1 - Para

Si encuentras una forma de resolver alguna de estas preguntas sin utilizar el bucle for, no dudes en hacerlo.

1. Imprime los números entre 0 y 70 que son múltiplos de 3 y 5.

In [26]:
print([x for x in range(71) if x % 3 == 0 and x % 5])

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69]

2. Imprime el siguiente patrón:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [71]:
patron = [1]

for p in patron:
    if p == 9:
        break
    print(*patron)
    p = p + 1

    patron.append(p)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [59]:
r = list(range(5))

for z in r:
    acumulador =  z + 1
    r[z] = acumulador
print(r)

[1, 2, 3, 4, 5]

3. Dadas dos listas de la misma longitud, crear una tercera lista que contenga la suma de ambas, elemento a elemento.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [93]:
a = list(range(1,3))
b = list(range(2) )
print(b)
print(a)

ab = []

for x, y in a, b:
    c = x + y
    ab.append(c)

print(ab)

[0, 1]
[1, 2]
[3, 1]

4. Obtenga la primera y la segunda mejor puntuación de la lista.
La lista contiene duplicados.

In [95]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

In [96]:
max(scores)

86

In [101]:
score = set(scores)
score2 = list(score)
print(score2)
score2.sort()
print(score2[-2])

[0, 1, 2, 45, 83, 84, 85, 86, 23]
85

5. De la lista dada:
    
    a) Crea listas separadas de cadenas y números.

    b) Ordena la lista de cadenas en orden ascendente.

    c) Ordena la lista de cadenas en orden descendente

    d) Ordenar la lista de números de menor a mayor

    e) Ordenar la lista de números de mayor a menor

In [102]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

In [103]:
strings = []
nums = []

for gadget in gadgets:
    if type(gadget) == str:
        strings.append(gadget)
    elif type(gadget) == int or type(gadget) == float:
        nums.append(gadget)

print(strings)
print(nums)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
[100, 310.28, 27.0, 1000]

In [104]:
strings.sort()
print(strings)
strings.reverse()
print(strings)
nums.sort()
print(nums)
nums.reverse()
print(nums)

['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']
[27.0, 100, 310.28, 1000]
[1000, 310.28, 100, 27.0]

6. Haz una lista de diez alienígenas, cada uno de los cuales es de un color: 'rojo', 'verde' o 'azul'.
    - Puedes acortarlo a 'r', 'g' y 'b' si quieres, pero si eliges esta opción tienes que incluir un comentario explicando qué significan r, g y b.
    - Los alienígenas rojos valen 5 puntos, los verdes valen 10 puntos y los azules valen 20 puntos.
    - Utilice un bucle for para determinar el número de puntos que ganaría un jugador por destruir todos los alienígenas de su lista.

In [111]:
aliens = ["rojo", "verde", "azul", "rojo", "rojo", "verde", "azul", "azul", "verde", "verde" ]
print(len(aliens))

puntuacion_rojo = aliens.count("rojo")*5
puntuacion_verde = aliens.count("verde")*10
puntuacion_azul = aliens.count("azul")*20
total = puntuacion_azul + puntuacion_rojo + puntuacion_verde
print(total)

10
115

In [109]:
total = 0
for alien in aliens:
    if alien == "rojo":
        total = total + 5
    elif alien == "verde":
        total = total + 10
    elif alien == "azul":
        total = total + 20
print(total)

115

### Ejercicio 2 - Funciones

1. Escribe un programa de funciones para sumar dos números diferentes dados.

In [112]:
def suma(x:int, y:int) -> int:
    total = x + y
    return total

In [113]:
suma(100,11)

111

In [115]:
a = ("a", "b")
tuple(a)
print(a)

('a', 'b')

2. Escribe un programa en Python para convertir una tupla de caracteres en una cadena.

    - Ejemplo de tupla: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Salida esperada : `"EL PUENTE"`
    
Sugerencia: Conviértalo en una lista.

In [132]:
def tupla_to_string(tupla:tuple) -> str:

    string_final = ""
    list(tupla)

    for letra in tupla:
        if type(letra) ==  str:
            string_final = string_final + letra


    return string_final

In [133]:
tupla_to_string(("T", "H", "E", " ", "B", "R", "I", "D", "G", "E"))

'THE BRIDGE'

3. Escribe un programa en Python que genere una lista cuyos valores sean cuadrados de números entre 1 y 30 (ambos incluidos), y devuelva una lista con los 5 primeros y últimos elementos de la lista.

In [138]:
def e3() -> list:
    lista_base = list(range(1,31))
    lista_3 = []
    for numero in lista_base:
        lista_3.append(numero**2)
    lista_final = lista_3[0:6] + lista_3[-5:-1]
    return lista_final

In [139]:
print(e3())

[1, 4, 9, 16, 25, 36, 676, 729, 784, 841]

4. Crea un programa en Python que calcule el factorial de un número.

El programa pedirá al usuario que introduzca un número (entrada) y devolverá el factorial de ese número.

In [ ]:
def  factorial(numero:int) -> int:

    while numero > 0:
        
        factorial= numero*(numero-1)
        numero = numero - 1

In [9]:
numero = 3

while numero > 0:
        factorial=numero*numero-1
        factorial = factorial*factorial
        numero -= 1
print(factorial)

0

5. Crea un programa que calcule la media.

El programa pedirá al usuario que especifique cuántos números quiere introducir, y mostrará un aviso para incluir número a número a una lista, y luego calculará la media de cada número de esa lista.

In [23]:
def media_lista(n:int, *elementos:list) -> float:

    for i in elementos:
        total = sum(i)
    
    media = total/n

        
    return media

In [24]:
media_lista(8, [1,3,5,7,8,11,5,6])

5.75

In [21]:
sum([1,3,5,7,8,11,5,6])/8

5.75