# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [2]:
lista_alumnos  = ["a", "b", "c", "d", "e", ]

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [3]:
lista_vacia = []

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [4]:
mi_lista = list(range(5))

3. Hallar la longitud de **mi_lista**

In [5]:
len(mi_lista)

5

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [7]:
print(mi_lista[0], mi_lista[int(len(mi_lista)/2)], mi_lista[-1])

0 2 4

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [10]:
nombre = "camilo"
edad = 24
altura = 1.75
pais = "colombia"
python_version = "3.11.5"

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [11]:
tipos_de_datos_mezclados = [nombre, edad, altura, pais, python_version]

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [37]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

8. Imprime **it_companies** usando print()

In [13]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Imprimir el número de empresas de la lista

In [14]:
print(len(it_companies))

7

11. imprimir *Google

In [18]:

print(it_companies[it_companies.index("Google")])

Google

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

11. Asignar un nuevo valor al último elemento de la lista

In [19]:
it_companies[-1] = "PacoPorras"

12. Imprimir la lista después de modificar una de las empresas

In [20]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'PacoPorras']

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

In [38]:
it_companies.append("Rito")

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [22]:
"Apple" in it_companies

True

15. Ordena la lista utilizando el método `sort()`.

In [39]:
it_companies.sort()

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [40]:
it_companies.reverse()

17. Elimine las 3 primeras empresas de la lista

In [43]:
for companies in it_companies:
    it_companies = it_companies.copy()
    it_companies.pop(0)
    print(it_companies)
    companies == it_companies[2]
    break

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [44]:
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

18. Elimine la última empresa informática de la lista

In [45]:
it_companies.remove("IBM")

19. Eliminar todas las empresas de TI de la lista

In [46]:
it_companies.clear()

In [47]:
print(it_companies)

[]

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [48]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

fin = front_end + back_end

21. De la lista **end** imprimir 'HTML'

ValueError: [['HTML', 'CSS'], 'JS', 'React', 'Redux'] is not in list

22. En la lista final, imprima la "C" de la palabra "CSS".

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [57]:
tup = tuple("T",)

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [58]:
type(tup)

tuple

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [59]:
# Para poder hacerlo he de pasar la tupla a lista ya que las tuplas son inmutables

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [60]:
# Para poder hacerlo he de pasar la tupla a lista ya que las tuplas son inmutables

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [61]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [62]:
mi_conjunto = set(lista_repes)

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

In [63]:
print(mi_conjunto[0])

TypeError: 'set' object is not subscriptable

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?

In [71]:
a = list(mi_conjunto)
print(a[0])

science